{% extends 'base.html' %}
{% block content %}
{% for message in messages %}
<h4  style="color: green;"> {{message}} </h4>
{% endfor %}
<br>
<style>
    .container{
        padding: 20px;
    }
</style>
<div class="container">
<table class="table" style='border:2px black solid'>
    <h3>Consultation Requests</h3>
    <tr style='border:2px black solid ; width:200px' >
        <th style='border:2px black solid ; width:200px'>
            Patiant Name
        </th>
        <th style='border:2px black solid; width:200px'>
            Hospital
        </th>
       
        <th style='border:2px black solid; width:200px'>
            Doctor Name
        </th>
        <th style='border:2px black solid; width:200px'>
            Date
        </th>
        <th style='border:2px black solid; width:200px'>
            Time
        </th >
       
    </tr><br><br>
    
{% for request in requests %}

    <tr style='border:2px black solid'>
        <td style='border:2px black solid'>
            {{request.Patiant_name}}
        </td>
       <td>
        {{request.hospital}}
       </td>
        <td style='border:2px black solid'>
            {{request.Doctor_name}}
        </td>
        <td style='border:2px black solid'>
            {{request.appointment_date}}
        </td >
        <td style='border:2px black solid'>
            {{request.appoiment_time}}
        </td>
       
    </tr>

{% endfor %}
</table>
</div>

{% endblock %}