{% extends 'base.html' %}

{% block content %}
<h1>Doctor Consultation</h1>
{% for m in messages %}
<h5 style="color:red">{{m}}</h5>
{% endfor %}

<div class="container mt-4">
    <form class="row" method="POST" action="{% url 'appointment' %}">
      {% csrf_token %}

      <div class="col-md-10">
        <div class="form-group">
          <label for="name">Patiant Name</label>
          <input
            class="form-control"
            id="name"
            placeholder="{{name}}"
            Value="{{name}}"
            name="name"
            readonly
          />
          <label for="name">Disease</label>
          <input
            class="form-control"
            id="name"
            placeholder="{{disease}}"
            Value="{{disease}}"
            name="disease"
            readonly
          />
          <label for="Doctor">Select Doctor</label>
          <select required class="form-control" id="doctor" name="doctor" >
            <option value="" disabled selected>Select Doctor</option>
            {%for doctor in doctors %}
            <option value="{{doctor.Doctor_name}}">{{doctor.Doctor_name}}</option>
            {%endfor%}
            
          </section>
          <label for="date">Select Date</label>
          <input type='date' name='date'  id="datefield" size="22" class="form-control" required/>
          <label for="time">Select Time</label>
          <input type='time' name='time' class="form-control" required/>
        </div>
      </div>
      <div class="col-md-4">
        <button type="submit" class="btn-lg btn-block btn btn-danger mb-5">
          Book Now
        </button>
      </div>
    </form>
  </div>


</section>
<script>
var today = new Date();
var dd = today.getDate() + 1;
var mm = today.getMonth() + 1; //Januarys is 0!
var yyyy = today.getFullYear();

if (dd < 10) {
  dd = '0' + dd
}
if (mm < 10) {
  mm = '0' + mm
}

today = yyyy + '-' + mm + '-' + dd;
document.getElementById("datefield").setAttribute("min", today);
document.getElementById("datefield2").setAttribute("min", today)
  
</script>


{% endblock %}