{% extends 'base.html' %}
{% block content %}
<style>
    .card-conatiner{
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
    }
    .hospital-card{
        width:400px;
        height: 300px;
        padding: 20px;
        box-shadow: 2px 2px 5px black;
        margin-top: 10px;
        margin-left: 10px;
    }
</style>

<div class="container mt-5 mb-5 p-5">
    
    <div class="content">
        {% for message in messages %}
            <h4 style="color: green;"> {{message}} </h4>
        {% endfor %}
        <h3>Hospital List</h3>


        <div class="card-conatiner">
{% for hospital in hospitals %}
            <div class="hospital-card">
                <img src="{{hospital.Image.url}}" width="100%" height="130px" alt="">
                <h3>{{hospital.Hosptal_name}}</h3>
                Address:
                <address>
                    {{hospital.Area}} 
                    {{hospital.City}} 
                    {{hospital.Country}} 
                </address>
                <h5>Phone: {{hospital.phone}}</h5>
                <br>
                <a href="{%url 'GetAppointment' hospital.id %}" class="btn btn-warning btn-lg">Take an Appointment</a>

            </div>
            {% endfor %}

        </div>


    </div>
</div>
{% endblock %}